/vendor/
/node_modules/
npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml
public/storage
public/hot
/storage/*.key
.phpunit.result.cache
.env.backup
docker-compose.override.yml
/.idea
/.vscode
/storage/app/public/
/storage/app/public/*